.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.help-btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.help-btn:hover {
  background: rgba(0, 0, 0, 1);
}

.rules-container {
  position: absolute;
  top: 100%;
  right: 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 53, 53);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
