.start-screen {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.difficulty-btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 1rem;
}

.difficulty-btn {
  position: relative;
  align-self: center;
  max-width: 20rem;
  background: none;
  transition: transform 0.2s ease-in-out;
}

.difficulty-btn:hover {
  transform: scale(1.1);
}

.difficulty-btn-leaf {
  width: 100%;
  height: auto;
  display: block;
}

.difficulty-btn:nth-child(1) .difficulty-btn-leaf {
  transform: rotate(190deg);
}

.difficulty-btn:nth-child(2) .difficulty-btn-leaf {
  transform: rotate(-5deg);
}

.difficulty-btn:nth-child(3) .difficulty-btn-leaf {
  transform: rotate(-195deg);
}

.difficulty-btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(21, 43, 21);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  font-size: 1.75rem;
  pointer-events: none;
}

.difficulty-btn:nth-child(1) .difficulty-btn-text {
  transform: rotate(12deg);
}
.difficulty-btn:nth-child(2) .difficulty-btn-text {
  transform: rotate(-25deg);
}
.difficulty-btn:nth-child(3) .difficulty-btn-text {
  transform: rotate(-15deg);
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
